{% extends "./base.html" %}
{% block title %}Crear Viaje{% endblock %}
{% block header_title %}SITU | Registrar Viaje{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-8 col-xl-6 mx-auto">
        <div class="card shadow-lg">
            <h3 class="card-title pb-3 mb-3 border-bottom">
                <i class="bi bi-map-fill text-success"></i> Registrar Nuevo Viaje
            </h3>
            
            <form method="post">
                {% csrf_token %}
                
                <div class="form-fields">
                    {{ form.as_p }}
                </div>
                
                <hr class="border-color my-4">
                
                <div class="d-flex justify-content-end align-items-center" style="gap: 12px;">
                    <a href="{% url 'viajes' %}" class="btn btn-secondary">
                        <i class="bi bi-x-circle"></i> Cancelar
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-check-circle-fill"></i> Registrar Viaje
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
